<%= EmailHelpers.layout do %>
  <%= EmailHelpers.content_block do %>
    Hola! 🤗
  <% end %>
  <%= EmailHelpers.content_block do %>
    Has rebut aquest correu electrònic perquè has decidit donar-te d'alta a <a href="<%= RegalocalWeb.Endpoint.url %>">RegaLocal</a>. En cas que no sigui així, si us plau, fes-ne cas omís.
  <% end %>

  <%= EmailHelpers.content_block do %>
    <div class="actions">
      <%= link "Accedeix al teu panell", to: @url, class: "btn-primary" %>
    </div>
  <% end %>
<% end %>
