.animate-shape {
  path {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 4s linear forwards;
  }
}

.animate-gift {
  path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 0.5em;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
