use Mix.Config

# Configure your database
config :regalocal, Regalocal.Repo,
  username: "YOU"

config :geocoder, :worker,
  key: "KEY"

config :cloudex,
  api_key: "my-api-key",
  secret: "my-secret",
  cloud_name: "my-cloud-name"