<%= EmailHelpers.layout do %>
  <%= EmailHelpers.content_block do %>
    <%= gettext("En/na %{gift_recipient_name} acaba de fer servir el cupó que li vas regalar!", gift_recipient_name: @gift.recipient_name) %>
  <% end %>
  <%= EmailHelpers.content_block do %>
    <p>
      <%= gettext("Moltes gràcies per la teva solidaritat!") %>"
    </p>
  <% end %>
<% end %>
