<html>
  <body>
    <p>En/na <%= @gift.buyer_name %> ens ha notificat que ja ha realitzat el pagament de la compra amb la referència <%= @gift.reference %>!</p>
    <p><strong>Properes passes</strong></p>
    <p>Si us plau, comprova que has rebut el pagament i una vegada l'hagis rebut notifica-ho a través del teu panell:</p>
    <a href="#">El meu panell</a>
    <br />
    <p>Com a recordatori, una vegada hagis obert i els compradors puguin començar a disfrutar dels cupons no t'oblidis d'activar els cupons, d'aquesta manera es notificarà automàticament als interessats.</p>
    <p>Per si és del teu interès, aquí tens les dades de contacte de <%= @gift.buyer_name %>:</p>
    <dl>
      <dt>Nom</dt>
      <dd><%= @gift.buyer_name %></dd>
      <dt>Telèfon</dt>
      <dd><%= @gift.buyer_phone %></dd>
      <dt>Email</dt>
      <dd><a href="mailto:<%= @gift.buyer_email %>"><%= @gift.buyer_email %></a></dd>
    </dl>
    <br />
    <p>Moltes gràcies!</p>
  </body>
</html>
