<%= container do %>
  <div class="">
    <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
      Sobre nosaltres
    </h2>
  </div>
<% end %>
